<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :one %><br>
    <%= f.text_field :one %>
  </div>
  <div class="field">
    <%= f.label :two %><br>
    <%= f.text_field :two %>
  </div>
  <div class="field">
    <%= f.label :three %><br>
    <%= f.text_field :three %>
  </div>
  <div class="field">
    <%= f.label :four %><br>
    <%= f.text_field :four %>
  </div>
  <div class="field">
    <%= f.label :five %><br>
    <%= f.text_field :five %>
  </div>
  <div class="field">
    <%= f.label :six %><br>
    <%= f.text_field :six %>
  </div>
  <div class="field">
    <%= f.label :seven %><br>
    <%= f.text_field :seven %>
  </div>
  <div class="field">
    <%= f.label :eight %><br>
    <%= f.text_field :eight %>
  </div>
  <div class="field">
    <%= f.label :night %><br>
    <%= f.text_field :night %>
  </div>
  <div class="field">
    <%= f.label :ten %><br>
    <%= f.text_field :ten %>
  </div>
  <div class="field">
    <%= f.label :eleven %><br>
    <%= f.text_field :eleven %>
  </div>
  <div class="field">
    <%= f.label :twelve %><br>
    <%= f.text_field :twelve %>
  </div>
  <div class="field">
    <%= f.label :thirteen %><br>
    <%= f.text_field :thirteen %>
  </div>
  <div class="field">
    <%= f.label :fourteen %><br>
    <%= f.text_field :fourteen %>
  </div>
  <div class="field">
    <%= f.label :fifteen %><br>
    <%= f.text_field :fifteen %>
  </div>
  <div class="field">
    <%= f.label :sixteen %><br>
    <%= f.text_field :sixteen %>
  </div>
  <div class="field">
    <%= f.label :seventeen %><br>
    <%= f.text_field :seventeen %>
  </div>
  <div class="field">
    <%= f.label :eighteen %><br>
    <%= f.text_field :eighteen %>
  </div>
  <div class="field">
    <%= f.label :nighteen %><br>
    <%= f.text_field :nighteen %>
  </div>
  <div class="field">
    <%= f.label :twenty %><br>
    <%= f.text_field :twenty %>
  </div>
  <div class="field">
    <%= f.label :twentyone %><br>
    <%= f.text_field :twentyone %>
  </div>
  <div class="field">
    <%= f.label :twentytwo %><br>
    <%= f.text_field :twentytwo %>
  </div>
  <div class="field">
    <%= f.label :twentythree %><br>
    <%= f.text_field :twentythree %>
  </div>
  <div class="field">
    <%= f.label :twentyfour %><br>
    <%= f.text_field :twentyfour %>
  </div>
  <div class="field">
    <%= f.label :twentyfive %><br>
    <%= f.text_field :twentyfive %>
  </div>
  <div class="field">
    <%= f.label :twentysix %><br>
    <%= f.text_field :twentysix %>
  </div>
  <div class="field">
    <%= f.label :twentyseven %><br>
    <%= f.text_field :twentyseven %>
  </div>
  <div class="field">
    <%= f.label :twentyeight %><br>
    <%= f.text_field :twentyeight %>
  </div>
  <div class="field">
    <%= f.label :twentynine %><br>
    <%= f.text_field :twentynine %>
  </div>
  <div class="field">
    <%= f.label :thirty %><br>
    <%= f.text_field :thirty %>
  </div>
  <div class="field">
    <%= f.label :thirtyone %><br>
    <%= f.text_field :thirtyone %>
  </div>
  <div class="field">
    <%= f.label :thirtytwo %><br>
    <%= f.text_field :thirtytwo %>
  </div>
  <div class="field">
    <%= f.label :thirtythree %><br>
    <%= f.text_field :thirtythree %>
  </div>
  <div class="field">
    <%= f.label :thirtyfour %><br>
    <%= f.text_field :thirtyfour %>
  </div>
  <div class="field">
    <%= f.label :thirtyfive %><br>
    <%= f.text_field :thirtyfive %>
  </div>
  <div class="field">
    <%= f.label :thirtysix %><br>
    <%= f.text_field :thirtysix %>
  </div>
  <div class="field">
    <%= f.label :thirtyseven %><br>
    <%= f.text_field :thirtyseven %>
  </div>
  <div class="field">
    <%= f.label :thirtyeight %><br>
    <%= f.text_field :thirtyeight %>
  </div>
  <div class="field">
    <%= f.label :thirtynine %><br>
    <%= f.text_field :thirtynine %>
  </div>
  <div class="field">
    <%= f.label :fourty %><br>
    <%= f.text_field :fourty %>
  </div>
  <div class="field">
    <%= f.label :fourtyone %><br>
    <%= f.text_field :fourtyone %>
  </div>
  <div class="field">
    <%= f.label :fourtytwo %><br>
    <%= f.text_field :fourtytwo %>
  </div>
  <div class="field">
    <%= f.label :fourtythree %><br>
    <%= f.text_field :fourtythree %>
  </div>
  <div class="field">
    <%= f.label :fourtyfour %><br>
    <%= f.text_field :fourtyfour %>
  </div>
  <div class="field">
    <%= f.label :fourtyfive %><br>
    <%= f.text_field :fourtyfive %>
  </div>
  <div class="field">
    <%= f.label :fourtysix %><br>
    <%= f.text_field :fourtysix %>
  </div>
  <div class="field">
    <%= f.label :fourtyseven %><br>
    <%= f.text_field :fourtyseven %>
  </div>
  <div class="field">
    <%= f.label :fourtyeight %><br>
    <%= f.text_field :fourtyeight %>
  </div>
  <div class="field">
    <%= f.label :fourtynine %><br>
    <%= f.text_field :fourtynine %>
  </div>
  <div class="field">
    <%= f.label :fifty %><br>
    <%= f.text_field :fifty %>
  </div>
  <div class="field">
    <%= f.label :paper_id %><br>
    <%= f.text_field :paper_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
