<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @result.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @result.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @result.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @result.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @result.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @result.six %>
</p>

<p>
  <strong>Seven:</strong>
  <%= @result.seven %>
</p>

<p>
  <strong>Eight:</strong>
  <%= @result.eight %>
</p>

<p>
  <strong>Night:</strong>
  <%= @result.night %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @result.ten %>
</p>

<p>
  <strong>Eleven:</strong>
  <%= @result.eleven %>
</p>

<p>
  <strong>Twelve:</strong>
  <%= @result.twelve %>
</p>

<p>
  <strong>Thirteen:</strong>
  <%= @result.thirteen %>
</p>

<p>
  <strong>Fourteen:</strong>
  <%= @result.fourteen %>
</p>

<p>
  <strong>Fifteen:</strong>
  <%= @result.fifteen %>
</p>

<p>
  <strong>Sixteen:</strong>
  <%= @result.sixteen %>
</p>

<p>
  <strong>Seventeen:</strong>
  <%= @result.seventeen %>
</p>

<p>
  <strong>Eighteen:</strong>
  <%= @result.eighteen %>
</p>

<p>
  <strong>Nighteen:</strong>
  <%= @result.nighteen %>
</p>

<p>
  <strong>Twenty:</strong>
  <%= @result.twenty %>
</p>

<p>
  <strong>Twentyone:</strong>
  <%= @result.twentyone %>
</p>

<p>
  <strong>Twentytwo:</strong>
  <%= @result.twentytwo %>
</p>

<p>
  <strong>Twentythree:</strong>
  <%= @result.twentythree %>
</p>

<p>
  <strong>Twentyfour:</strong>
  <%= @result.twentyfour %>
</p>

<p>
  <strong>Twentyfive:</strong>
  <%= @result.twentyfive %>
</p>

<p>
  <strong>Twentysix:</strong>
  <%= @result.twentysix %>
</p>

<p>
  <strong>Twentyseven:</strong>
  <%= @result.twentyseven %>
</p>

<p>
  <strong>Twentyeight:</strong>
  <%= @result.twentyeight %>
</p>

<p>
  <strong>Twentynine:</strong>
  <%= @result.twentynine %>
</p>

<p>
  <strong>Thirty:</strong>
  <%= @result.thirty %>
</p>

<p>
  <strong>Thirtyone:</strong>
  <%= @result.thirtyone %>
</p>

<p>
  <strong>Thirtytwo:</strong>
  <%= @result.thirtytwo %>
</p>

<p>
  <strong>Thirtythree:</strong>
  <%= @result.thirtythree %>
</p>

<p>
  <strong>Thirtyfour:</strong>
  <%= @result.thirtyfour %>
</p>

<p>
  <strong>Thirtyfive:</strong>
  <%= @result.thirtyfive %>
</p>

<p>
  <strong>Thirtysix:</strong>
  <%= @result.thirtysix %>
</p>

<p>
  <strong>Thirtyseven:</strong>
  <%= @result.thirtyseven %>
</p>

<p>
  <strong>Thirtyeight:</strong>
  <%= @result.thirtyeight %>
</p>

<p>
  <strong>Thirtynine:</strong>
  <%= @result.thirtynine %>
</p>

<p>
  <strong>Fourty:</strong>
  <%= @result.fourty %>
</p>

<p>
  <strong>Fourtyone:</strong>
  <%= @result.fourtyone %>
</p>

<p>
  <strong>Fourtytwo:</strong>
  <%= @result.fourtytwo %>
</p>

<p>
  <strong>Fourtythree:</strong>
  <%= @result.fourtythree %>
</p>

<p>
  <strong>Fourtyfour:</strong>
  <%= @result.fourtyfour %>
</p>

<p>
  <strong>Fourtyfive:</strong>
  <%= @result.fourtyfive %>
</p>

<p>
  <strong>Fourtysix:</strong>
  <%= @result.fourtysix %>
</p>

<p>
  <strong>Fourtyseven:</strong>
  <%= @result.fourtyseven %>
</p>

<p>
  <strong>Fourtyeight:</strong>
  <%= @result.fourtyeight %>
</p>

<p>
  <strong>Fourtynine:</strong>
  <%= @result.fourtynine %>
</p>

<p>
  <strong>Fifty:</strong>
  <%= @result.fifty %>
</p>

<p>
  <strong>Paper:</strong>
  <%= @result.paper %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
